<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Asthma is a common lung condition that causes occasional breathing difficulties. Symptoms: 

Wheezing (a whistling sound when breathing)
Breathlessness
A tight chest (which may feel like a band is tightening around it)
Coughing. 

Treatments: Reliever inhalers – used when needed to quickly relieve asthma symptoms for a short time. Preventer inhalers – used every day to prevent asthma symptoms occurring.
</string>
	<string>Bipolar disorder, formerly known as manic depression, is a condition that affects your moods, which can swing from one extreme to another. 

Symptoms: 

Depression: 
Feeling sad
Hopeless or irritable most of the time
Lacking energy 
Difficulty concentrating and remembering things
Loss of interest in everyday activities, feelings of emptiness or worthlessness
Feelings of guilt and despair
Feeling pessimistic about everything
Self-doubt
Being delusional
Having hallucinations and disturbed or illogical thinking
Lack of appetite
Difficulty sleeping
Waking up early
Suicidal thoughts

Mania phase of bipolar disorder may include: 
Feeling very happy
Elated or overjoyed
Talking very quickly
Feeling full of energy
Feeling self-important
Feeling full of great new ideas and having important plans
Being easily distracted
Being easily irritated or agitated
Being delusional
Having hallucinations and disturbed or illogical thinking
Not feeling like sleeping
Not eating
Doing things that often have disastrous consequences – such as spending large sums of money on expensive and sometimes unaffordable items
Making decisions or saying things that are out of character and that others see as being risky or harmful
</string>
	<string>Cardiomyopathy is a general term for diseases of the heart muscle, where the walls of the heart chambers have become stretched, thickened or stiff. This affects the heart&apos;s ability to pump blood around the body. Some types of cardiomyopathy are inherited and are seen in children and younger people. In dilated cardiomyopathy the muscle walls of the heart have become stretched and thin, so they can&apos;t contract (squeeze) properly to pump blood around the body.</string>
	<string>Chronic kidney disease (CKD) is a long-term condition where the kidneys don&apos;t work as well as they should. 

When it reaches a more advanced stage, symptoms can include: 
Tiredness
Swollen ankles
Feet or hands
Shortness of breath
Feeling sick
Blood in your urine
</string>
	<string>Crohn&apos;s disease is a lifelong condition in which parts of the digestive system become inflamed. 

Symptoms: 
Diarrhoea
Stomach aches and cramps
Blood in your poo
Tiredness (fatigue) and weight loss

The symptoms may be constant or may come and go every few weeks or months. When they come back, it&apos;s called a flare-up.
</string>
	<string>Diabetes type 1: where the pancreas doesn&apos;t produce any insulin. 

Symptoms: 
Feeling very thirsty
Passing urine more often than usual, 
Particularly at night, 
Feeling very tired and weight loss 
Loss of muscle bulk
</string>
	<string>Diabetes type 2: where the body doesn&apos;t produce enough insulin, or the body&apos;s cells don&apos;t react to insulin. 

Symptoms: 
Peeing more than usual, 
Particularly at night
Feeling thirsty all the time
Feeling very tired
Losing weight without trying to
Itching around your penis or vagina or repeatedly getting thrush
Cuts or wounds taking longer to heal
Blurred vision
</string>
	<string>Epilepsy is a common condition that affects the brain and causes frequent seizures. 

Symptoms: 
Uncontrollable jerking and shaking – called a &quot;fit&quot;
Losing awareness and staring blankly into space
Becoming stiff
Strange sensations – such as a &quot;rising&quot; feeling in the tummy
Unusual smells or tastes and a tingling feeling in your arms or legs
Collapsing
</string>
	<string>Glaucoma is a common eye condition where the optic nerve, which connects the eye to the brain, becomes damaged. Very occasionally, glaucoma can develop suddenly and cause: intense eye pain, nausea and vomiting, a red eye, a headache, tenderness around the eyes, seeing rings around lights and blurred vision.</string>
	<string>Haemophilia is a rare condition that affects the blood&apos;s ability to clot. It&apos;s usually inherited, and most people who have it are male. Normally, when you cut yourself, substances in the blood known as clotting factors combine with blood cells called platelets to make the blood sticky. This makes the bleeding stop eventually. Symptoms: nosebleeds that take a long time to stop, bleeding from wounds that lasts a long time, bleeding gums, skin that bruises easily, pain and stiffness around joints, such as elbows, because of bleeding inside the body (internal bleeding)</string>
	<string>HIV (human immunodeficiency virus) is a virus that damages the cells in your immune system and weakens your ability to fight everyday infections and disease. AIDS (acquired immune deficiency syndrome) is the name used to describe a number of potentially life-threatening infections and illnesses that happen when your immune system has been severely damaged by the HIV virus. While AIDS can&apos;t be transmitted from one person to another, the HIV virus can. 

Symptoms: 
Most people experience a short
Flu-like illness 2-6 weeks after HIV infection
Which lasts for a week or two

After these symptoms disappear, HIV may not cause any symptoms for many years, although the virus continues to damage your immune system. This means many people with HIV don&apos;t know they&apos;re infected.
</string>
	<string>Parkinson&apos;s disease is a condition in which parts of the brain become progressively damaged over many years. The three main symptoms of Parkinson&apos;s disease are: Involuntary shaking of particular parts of the body (tremor), slow movement and stiff and inflexible muscles.
A person with Parkinson&apos;s disease can also experience a wide range of other physical and psychological symptoms, including:

Depression and anxiety
Balance problems – this may increase the chance of a fall
Loss of sense of smell (anosmis)
Problems sleeping (insomnia)
Memory problems
</string>
	<string>Rheumatoid arthritis is a long-term condition that causes pain, swelling and stiffness in the joints. The symptoms usually affect the hands, feet and wrists. 

Symptoms: 
The main symptoms of rheumatoid arthritis are joint pain
Swelling and stiffness
It may also cause more general symptoms, and inflammation in other parts of the body.
</string>
	<string>Schizophrenia is a severe long-term mental health condition. It causes a range of different psychological symptoms.

Symptoms of schizophrenia include: 

Hallucinations – hearing or seeing things that don&apos;t exist
Delusions – unusual beliefs not based on reality 
Muddled thoughts based on hallucinations or delusions
Changes in behaviour
</string>
	<string>Systemic lupus erythematosus (SLE) – lupus – is a long-term condition causing inflammation to the joints, skin and other organs. There&apos;s no cure, but symptoms can improve if treatment starts early.

Symptoms can flare up and settle down
Often the disease flares up (relapses) and symptoms become worse for a few weeks, sometimes longer.

Symptoms then settle down (remission). The reason why symptoms flare up or settle down is not yet known.

Some people don&apos;t notice any difference and symptoms are constant
</string>
	<string>Ulcerative colitis is a long-term condition, where the colon and rectum become inflamed .

The colon is the large intestine (bowel), and the rectum is the end of the bowel where stools are stored.

Small ulcers can develop on the colon&apos;s lining, and can bleed and produce pus.

Symptoms:
Recurring diarrhoea, which may contain blood, mucus or pus
Abdominal (tummy) pain
Needing to empty your bowels frequently
</string>
</array>
</plist>
